* {
    box-sizing: border-box;
    margin: 0;
}

.books-library {
    display: grid;
    grid-template-rows:repeat(auto, minmax(150px, 1fr));
    
}

.books-library > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(2, 0.5fr);
}
